<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload/" method="post" enctype="multipart/form-data">
        <h1>上传需要检测的图片：</h1>
        <p style="text-align:center"><input type="file" name="pic"></p><br>
        <p style="text-align:center"><input type="submit" value=" 提交 "></p>
    </form>
</body>
</html>

